.hamburger-menu {
  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5rem;
    right: 4rem;
    background-image:
      radial-gradient(
        var(--color-grey-700),
        var(--color-grey-800)
      );
    z-index: 98;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__nav-list {
    text-align: center;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 400;
      padding: 1rem 2rem;
      color: var(--color-white);
      text-decoration: none;
      text-transform: uppercase;
      background-image:
        linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          #fff 50%
        );
      background-size: 220%;
      transition: all 0.4s;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: var(--color-grey-800);
      transform: translateX(1rem);
    }
  }

  &--is-active {
    .hamburger-menu__nav {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }

    .hamburger-menu__background {
      transform: scale(80);
    }
  }
}
