.teams-view {
  background-color: var(--color-grey-800);
  border-radius: 0.8rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2.4rem;

    @media only screen and (min-width: 48em) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 2rem 0 2rem;
    }
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      position: relative;
      padding-left: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        border-radius: 100px;
      }
    }
  }

  &__season {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 0.6rem 1.2rem;
    margin-top: 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 100px;
      margin: 0;
    }
  }

  &__content {
    padding: 0 2rem 2rem;
  }

  &__list {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
}
