.player-details {
  padding: 4.8rem 3rem 3rem;

  &__header {
    background-color: var(--color-grey-800);
    border-radius: 0.8rem;
  }

  &__hero {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__shape-container {
    height: 14.4rem;
    background: linear-gradient(90deg,#963cff,#37003c);
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }

  &__shape {
    width: 100%;
    fill: #963cff;
    position: absolute;
    bottom: 0;
  }

  &__img {
    width: 14.8rem;
    height: 14.8rem;
    border-radius: 50%;
    box-sizing: content-box;
    border: 5px solid var(--color-grey-800);
    margin-top: -10.5rem;
    margin-left: 2.4rem;
    position: relative;
  }

  &__header-content {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2.4rem 2.4rem;
  }

  &__name {
    font-size: 2.15rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--color-white);
  }

  &__position {
    line-height: 1.25;
  }

  &__club {
    display: block;
    position: absolute;
    bottom: 0;
    left: 16rem;
    transform: translateY(50%);
    width: 4.2rem;
    height: 4.2rem;
    box-sizing: content-box;
    background-color: var(--color-grey-750);
    border: 5px solid var(--color-grey-800);
    border-radius: 50%;
    padding: 0.8rem;
    z-index: 2;
  }

  &__rating {
    text-align: center;
    background-color: var(--color-grey-750);
    border: 5px solid var(--color-grey-800);
    border-radius: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 2.4rem;
    transform: translateY(50%);
    z-index: 2;
    padding: 1rem 1.6rem;
  }

  &__rating-title {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-top: 0.4rem;
  }

  &__rating-value {
    font-size: 2rem;
    font-weight: 500;
  }

  &__content {
    display: flex;
    margin-top: 3.2rem;
  }

  &__left {
    flex: 0 0 27rem;
    padding-right: 4.2rem;
    margin-right: 4.2rem;
    border-right: var(--separator-line-dark--md);

    // background-color: red;
  }

  &__right {
    flex: 1;
    height: 50rem;

    // background-color: blue;
  }
}

.sidebar {
  // padding: 2rem;
  background-color: var(--color-grey-800);
  border: var(--separator-line--sm);

  border-radius: 0.8rem;

  &__header {
    padding: 2rem 2rem 0;
    margin-bottom: 2.4rem;
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      position: relative;
      text-align: start;
      padding-left: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        border-radius: 100px;
      }
    }
  }

  &__sub-title {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 2rem;
    margin-bottom: 0.8rem;
  }

  &__content {
    padding-bottom: 1.6rem;
  }

  &__list {
    // padding-bottom: 1.6rem;
  }

  &__list:not(:last-child) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: linear-gradient(270deg, var(--color-primary-700), var(--color-primary));
      background: linear-gradient(270deg,#ff2882,#963cff);
      background: linear-gradient(270deg, var(--color-primary), var(--color-primary-700));
      background: linear-gradient(270deg, var(--color-primary), #ff2882);
      background: linear-gradient(270deg,#ff2882,var(--color-primary));
      background: linear-gradient(270deg, rgb(32, 41, 89), var(--color-primary));
      background: linear-gradient(270deg, rgb(33, 45, 110), var(--color-primary));
      margin: 2.4rem 0 1.6rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--separator-line--sm);
    padding: 1.2rem 1.2rem 1.2rem 2.6rem;
  }

  &__item-name {
    font-size: 1.3rem;
    text-align: end;
  }

  &__item-value {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
  }
}

.competition-view {
  background-color: var(--color-grey-800);
  border-radius: 0.8rem;
  padding: 2rem;

  &__header {
    // padding: 2rem 2rem 0;
    margin-bottom: 2.4rem;
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      position: relative;
      text-align: start;
      padding-left: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        border-radius: 100px;
      }
    }
  }

  &__list {
    display: flex;
    // align-items: center;

    & > li:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 11rem;
  }

  &__img {
    width: 7rem;
    height: 7rem;
    box-sizing: content-box;
    object-fit: cover;
    border-radius: 50%;
    padding: 0.6rem;
    background-color: var(--color-grey-200);
    border: 2px solid transparent;
    margin-bottom: 0.8rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1) translateY(-5px);
      box-shadow: var(--color-grey-900) 0px 1.6rem 2rem;
      // border-color: var(--color-primary);
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-white);
  }
}

.stats-view {
  background-color: var(--color-grey-800);
  border-radius: 0.8rem;
  // padding: 2rem;
  margin-top: 3.2rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2.4rem;

    @media only screen and (min-width: 48em) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 2rem 0 2rem;
    }
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      position: relative;
      padding-left: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        border-radius: 100px;
      }
    }
  }

  &__competition {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 0.6rem 1.2rem;
    margin-top: 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 100px;
      margin: 0;
    }
  }
}
