.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.2rem;
  height: 16.4rem;
  text-align: center;
  background-color: var(--color-grey-775);
  border: 2px solid transparent;
  border-radius: 0.8rem;
  padding: 1.2rem 1.2rem 2rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-grey-750);
  }

  &__img {
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 1.6rem;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--color-white);
    margin-bottom: 0.4rem;
  }

  &__founded {
    font-size: 1.1rem;
  }

  &--active {
    border-color: var(--color-primary-300);
    background-color: var(--color-grey-750);
  }
}
