.player-profile {
  padding: 4.8rem 3rem 3rem;

  &__content {
    display: flex;
    margin-top: 3.2rem;
  }

  &__left {
    flex: 0 0 27rem;
    padding-right: 4.2rem;
    margin-right: 4.2rem;
    border-right: var(--separator-line-dark--md);
  }

  &__right {
    flex: 1;

    & > *:not(:last-child) {
      margin-bottom: 3.2rem;
    }
  }
}
