.player-details-overview {
  // padding: 2rem;
  background-color: var(--color-grey-800);
  border: var(--separator-line--sm);

  border-radius: 0.8rem;

  &__header {
    padding: 2rem 2rem 0;
    margin-bottom: 2.4rem;
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;

    @media only screen and (min-width: 48em) {
      width: auto;
      position: relative;
      text-align: start;
      padding-left: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        border-radius: 100px;
      }
    }
  }

  &__sub-title {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 2rem;
    margin-bottom: 0.8rem;
  }

  &__content {
    padding-bottom: 1.6rem;
  }

  &__list:not(:last-child) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: linear-gradient(270deg, rgb(33, 45, 110), var(--color-primary));
      margin: 2.4rem 0 1.6rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--separator-line--sm);
    padding: 1.2rem 1.2rem 1.2rem 2.6rem;
  }

  &__item-name {
    font-size: 1.3rem;
    padding-right: 1.2rem;
  }

  &__item-value {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: end;
    color: var(--color-white);
  }
}
