.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: var(--separator-line-dark--md);
  padding: 4.8rem 0 3.2rem;

  @media only screen and (min-width: 75em) {
    flex-direction: row;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--separator-line-dark--sm);
    padding: 0 3.2rem 2.4rem;
    margin-bottom: 2.4rem;

    @media only screen and (min-width: 48em) {
      flex-direction: row;
      border: none;
      padding: 0;
    }

    @media only screen and (min-width: 75em) {
      margin: 0 auto 0 0;
    }
  }

  &__text {
    font-size: 1.8rem;
    line-height: 160%;
    text-align: center;
    margin-top: 1.6rem;

    @media only screen and (min-width: 48em) {
      text-align: left;
      padding-left: 3.2rem;
      margin: 0 0 0 3.2rem;
      border-left: var(--separator-line-dark--sm);
    }
  }
}
